<div class="container">
  <div class="row text-center">
    <div class="text-center"><%= image_tag "chuck.jpg", style: "max-width: 300px; max-height: 300px", class: "img-responsive" %></div>
    <br>
    <h1> Chuck's Jokes App</h1>
    <p>Here you can find curated Chuck Norris facts, and also save the ones you like most!<p>
  </div>
</div>
