  <div id="new-joke" class="h-100">
    <div class="container py-5 text-center">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card">
            <div class="card-body py-5">
              <div class="carousel-item active">
                <div class="row d-flex justify-content-center">
                  <div class="col-md-8 col-lg-9 col-xl-8">
                    <div class="d-flex">
                      <div class="flex-grow-1 ms-4 ps-3">
                        <figure>
                          <blockquote class="blockquote mb-4">
                            <p>
                              <i class="bi bi-quote"></i>
                              <span class="font-italic"><%= @joke['value'] %></span>
                            </p>
                            <p>
                            <%= render 'form', favorite_joke: @joke %>
                            </p>
                          </blockquote>
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
